on:
    push: 
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6.0.2
            
            - name: Login to Docker Hub
              uses: docker/login-action@v3.7.0
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build
              run: |
                docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/smart-mirror-dashboard:Latest 
                echo "Build complete"
            
            - name: Tag
              run: |
                docker tag ${{ secrets.DOCKERHUB_USERNAME }}/smart-mirror-dashboard:Latest /
                ${{ secrets.DOCKERHUB_USERNAME }}/smart-mirror-dashboard:${GITHUB_SHA::7}
                echo "Tagging complete"

            - name: Push
              run: |
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/smart-mirror-dashboard:Latest
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/smart-mirror-dashboard:${GITHUB_SHA::7}
                echo "Push complete"